include ./partials/head.pug

block content
    if results
        navbar(
            id="top-navbar"
        )
            h2.text-center= city
        div(id="search-results" class="container-fluid")
            each business in results
                div(class="thumbnail")
                    div(class="img-container")
                        img(src=business.image_url)
                    a(href=business.url target="_blank" class="text-center") #{business.name}
                    h5(class="text-center") #{business.rating}
                        span(class="glyphicon glyphicon-star")
                    h5(class="text-center") #{business.countGoing} Going!
                    unless business.userGoing
                        form(id="attendance" method="POST")
                            input(class="hidden" name="businessId" value=business.id)
                            button(type="submit" class="btn submit add-remove" formaction= "/addme") I'm Going!
                        //- -var link = "/addme/" + business.id
                        //- a(class="btn add-remove" href=link) I'm Going
                    else
                        form(id="attendance" method="POST")
                            input(class="hidden" name="businessId" value=business.id)
                            button(type="submit" class="btn submit add-remove" formaction= "/removeme") I can't make it!
    else
        div(class="jumbotron")
            div(class="container-fluid")
                h1(class="text-center") WHERE WILL YOU BE TONIGHT?
            div(id="search-form" class="container-fluid")
                form(class="form" method="POST")
                    div(class="input-group")
                        input(type="text" class="form-control text-center" name="city" placeholder="Enter your city" required autofocus)
                        //- input(type="submit" class="hidden" formaction="/search")
                        span(class="input-group-addon hidden")
                            button(type="submit" class="glyphicon glyphicon-search" formaction="/search")
        